ai-meta-ads-automation/workflows/daily-analysis.json
{
  "name": "Daily Meta Ads Analysis",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "name": "Daily Schedule (9 AM)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "metaAdsApi",
        "resource": "adAccount",
        "operation": "getAll",
        "limit": 25
      },
      "name": "Get All Ad Accounts",
      "type": "n8n-nodes-base.metaAds",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Initialize arrays to store all data\nconst allAccountsData = [];\nconst processedAccounts = [];\n\n// Get configuration\nconst config = require('./config/thresholds');\nconst MetaDataProcessor = require('./lib/meta-data-processor');\nconst processor = new MetaDataProcessor();\n\n// Process each ad account\nfor (const account of $input.all()) {\n  const accountId = account.json.id;\n  const accountName = account.json.name;\n  \n  // Store account info for parallel processing\n  allAccountsData.push({\n    id: accountId,\n    name: accountName,\n    originalData: account.json\n  });\n}\n\n// Return account data for parallel processing\nreturn allAccountsData.map(account => ({ json: account }));"
      },
      "name": "Process Account List",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "metaAdsApi",
        "resource": "insights",
        "operation": "get",
        "adAccountId": "={{$json.id}}",
        "level": "campaign",
        "timeRange": "yesterday",
        "fields": [
          "campaign_id",
          "campaign_name",
          "spend",
          "impressions",
          "clicks",
          "actions",
          "cost_per_action_type",
          "date_start",
          "date_stop"
        ]
      },
      "name": "Get Yesterday Insights",
      "type": "n8n-nodes-base.metaAds",
      "typeVersion": 1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "metaAdsApi",
        "resource": "insights",
        "operation": "get",
        "adAccountId": "={{$json.id}}",
        "level": "campaign",
        "timeRange": "last_3d",
        "fields": [
          "campaign_id",
          "campaign_name",
          "spend",
          "impressions",
          "clicks",
          "actions",
          "cost_per_action_type",
          "date_start",
          "date_stop"
        ]
      },
      "name": "Get Last 3 Days Insights",
      "type": "n8n-nodes-base.metaAds",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "metaAdsApi",
        "resource": "insights",
        "operation": "get",
        "adAccountId": "={{$json.id}}",
        "level": "campaign",
        "timeRange": "last_5d",
        "fields": [
          "campaign_id",
          "campaign_name",
          "spend",
          "impressions",
          "clicks",
          "actions",
          "cost_per_action_type",
          "date_start",
          "date_stop"
        ]
      },
      "name": "Get Last 5 Days Insights",
      "type": "n8n-nodes-base.metaAds",
      "typeVersion": 1,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "functionCode": "// Import required modules\nconst MetaDataProcessor = require('./lib/meta-data-processor');\nconst processor = new MetaDataProcessor();\n\n// Get all input data\nconst allData = $input.all();\n\n// Group data by account and time period\nconst groupedData = {};\n\nfor (const item of allData) {\n  const accountId = item.json.account_id || item.json.id;\n  const accountName = item.json.account_name || item.json.name;\n  const timeRange = item.json.time_range || 'unknown';\n  \n  if (!groupedData[accountId]) {\n    groupedData[accountId] = {\n      id: accountId,\n      name: accountName,\n      insights: {}\n    };\n  }\n  \n  // Store insights by time range\n  if (item.json.data) {\n    groupedData[accountId].insights[timeRange] = item.json.data;\n  }\n}\n\n// Process each account's data\nconst processedAccounts = [];\n\nfor (const [accountId, accountData] of Object.entries(groupedData)) {\n  try {\n    // Process campaigns for current period (yesterday)\n    const yesterdayData = accountData.insights.yesterday || [];\n    const processedCampaigns = processor.processCampaigns(yesterdayData);\n    \n    // Calculate account metrics\n    const accountMetrics = processor.aggregateAccountMetrics(processedCampaigns);\n    \n    // Analyze trends if we have historical data\n    let trends = null;\n    if (accountData.insights.last_3d && accountData.insights.last_5d) {\n      const last3DaysMetrics = processor.aggregateAccountMetrics(\n        processor.processCampaigns(accountData.insights.last_3d)\n      );\n      const last5DaysMetrics = processor.aggregateAccountMetrics(\n        processor.processCampaigns(accountData.insights.last_5d)\n      );\n      trends = processor.analyzeTrends(last3DaysMetrics, last5DaysMetrics);\n    }\n    \n    // Identify poor performers\n    const poorPerformers = processor.identifyPoorPerformers(processedCampaigns, accountMetrics);\n    \n    processedAccounts.push({\n      id: accountId,\n      name: accountData.name,\n      campaigns: processedCampaigns,\n      metrics: accountMetrics,\n      trends: trends,\n      poorPerformers: poorPerformers\n    });\n  } catch (error) {\n    console.error(`Error processing account ${accountId}:`, error);\n    // Continue with other accounts\n  }\n}\n\n// Generate executive summary\nconst summary = processor.generateExecutiveSummary(processedAccounts);\n\n// Return processed data\nreturn [{\n  json: {\n    accounts: processedAccounts,\n    summary: summary,\n    timestamp: new Date().toISOString(),\n    totalAccounts: processedAccounts.length\n  }\n}];"
      },
      "name": "Process Campaign Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Import AI analyzer\nconst AIAnalyzer = require('./lib/ai-analyzer');\nconst config = require('./config/thresholds');\n\n// Initialize AI analyzer\nconst aiAnalyzer = new AIAnalyzer(config.openai.apiKey);\n\n// Get processed data\nconst processedData = $input.first().json;\nconst { accounts, summary } = processedData;\n\n// Generate AI analysis\nlet aiAnalysis;\ntry {\n  aiAnalysis = await aiAnalyzer.generateAnalysis(accounts, summary);\n} catch (error) {\n  console.error('AI analysis failed:', error);\n  // Use fallback analysis\n  aiAnalysis = {\n    recommendations: ['Review campaign performance manually'],\n    priorityActions: ['Check high CPL campaigns'],\n    budgetSuggestions: ['Optimize budget allocation'],\n    timestamp: new Date().toISOString()\n  };\n}\n\n// Return data with AI analysis\nreturn [{\n  json: {\n    ...processedData,\n    aiAnalysis: aiAnalysis\n  }\n}];"
      },
      "name": "Generate AI Analysis",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Import report formatter\nconst ReportFormatter = require('./lib/report-formatter');\nconst formatter = new ReportFormatter();\n\n// Get analysis data\nconst analysisData = $input.first().json;\n\n// Format daily report\nconst dailyReport = formatter.formatDailyReport(analysisData);\n\n// Return formatted report\nreturn [{\n  json: {\n    ...analysisData,\n    emailReport: dailyReport\n  }\n}];"
      },
      "name": "Format Daily Report",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "smtp",
        "fromEmail": "={{$json.emailReport.from || 'alerts@meta-ads-automation.com'}}",
        "toEmail": "={{$json.emailReport.to || 'sam@atlas-gyms.co.uk'}}",
        "subject": "={{$json.emailReport.subject}}",
        "emailType": "html",
        "message": "={{$json.emailReport.html}}",
        "ccEmail": "={{$json.emailReport.cc || ''}}",
        "bccEmail": "={{$json.emailReport.bcc || ''}}"
      },
      "name": "Send Email Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1780,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "telegramApi",
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "📊 *Daily Meta Ads Summary*\\n\\n💰 Total Spend: £{{$json.summary.totalSpend}}\\n🎯 Total Leads: {{$json.summary.totalLeads}}\\n💸 Average CPL: £{{$json.summary.averageCPL}}\\n🏥 Overall Health: {{$json.summary.overallHealth}}\\n\\n🔥 Critical: {{$json.summary.criticalAccounts}} accounts\\n⚠️ Warning: {{$json.summary.warningAccounts}} accounts\\n✅ Healthy: {{$json.summary.healthyAccounts}} accounts\\n\\n📈 Full report sent via email\\n\\n_{{$json.timestamp}}_",
        "parseMode": "Markdown"
      },
      "name": "Send Telegram Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1780,
        400
      ]
    },
    {
      "parameters": {
        "functionCode": "// Store daily results for historical tracking\nconst fs = require('fs');\nconst path = require('path');\n\n// Get analysis data\nconst analysisData = $input.first().json;\n\n// Create storage directory if it doesn't exist\nconst storageDir = './storage/daily-reports';\nif (!fs.existsSync(storageDir)) {\n  fs.mkdirSync(storageDir, { recursive: true });\n}\n\n// Generate filename with date\nconst today = new Date().toISOString().split('T')[0];\nconst filename = `daily-report-${today}.json`;\nconst filepath = path.join(storageDir, filename);\n\n// Save report data\ntry {\n  fs.writeFileSync(filepath, JSON.stringify(analysisData, null, 2));\n  console.log(`Daily report saved to ${filepath}`);\n} catch (error) {\n  console.error('Error saving daily report:', error);\n}\n\n// Clean up old reports (keep last 90 days)\nconst retentionDays = 90;\nconst cutoffDate = new Date();\ncutoffDate.setDate(cutoffDate.getDate() - retentionDays);\n\ntry {\n  const files = fs.readdirSync(storageDir);\n  files.forEach(file => {\n    if (file.startsWith('daily-report-')) {\n      const filePath = path.join(storageDir, file);\n      const stats = fs.statSync(filePath);\n      if (stats.mtime < cutoffDate) {\n        fs.unlinkSync(filePath);\n        console.log(`Deleted old report: ${file}`);\n      }\n    }\n  });\n} catch (error) {\n  console.error('Error cleaning up old reports:', error);\n}\n\n// Return success status\nreturn [{\n  json: {\n    success: true,\n    message: 'Daily analysis completed successfully',\n    timestamp: new Date().toISOString(),\n    accountsProcessed: analysisData.accounts.length,\n    totalSpend: analysisData.summary.totalSpend,\n    totalLeads: analysisData.summary.totalLeads,\n    averageCPL: analysisData.summary.averageCPL,\n    overallHealth: analysisData.summary.overallHealth\n  }\n}];"
      },
      "name": "Store Results & Cleanup",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Error handling and logging\nconst error = $input.first().json.error;\nconst context = $input.first().json.context || 'Unknown';\n\nconsole.error(`Daily analysis error in ${context}:`, error);\n\n// Send error notification to Telegram\nconst errorMessage = `🚨 *Daily Analysis Error*\\n\\nContext: ${context}\\nError: ${error.message || error}\\n\\nTime: ${new Date().toLocaleString('en-GB')}\\n\\n_Check logs for full details_`;\n\nreturn [{\n  json: {\n    chatId: process.env.TELEGRAM_CHAT_ID,\n    text: errorMessage,\n    parseMode: 'Markdown'\n  }\n}];"
      },
      "name": "Error Handler",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1340,
        500
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "telegramApi",
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{$json.chatId}}",
        "text": "={{$json.text}}",
        "parseMode": "={{$json.parseMode}}"
      },
      "name": "Send Error Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1560,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{$json.summary.criticalAccounts}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "name": "Check for Critical Issues",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1560,
        100
      ]
    },
    {
      "parameters": {
        "functionCode": "// Send immediate alert for critical issues found during daily analysis\nconst analysisData = $input.first().json;\nconst { accounts, summary } = analysisData;\n\n// Find accounts with critical issues\nconst criticalAccounts = accounts.filter(account => \n  account.campaigns.some(campaign => campaign.severity === 'critical')\n);\n\n// Format critical issue alert\nconst criticalCampaigns = criticalAccounts.flatMap(account => \n  account.campaigns.filter(campaign => campaign.severity === 'critical')\n);\n\nconst alertMessage = `🚨 *CRITICAL ISSUES DETECTED*\\n\\nDaily analysis found ${criticalCampaigns.length} critical campaigns:\\n\\n${criticalCampaigns.slice(0, 5).map(campaign => \n  `• ${campaign.campaignName}\\n  £${campaign.costPerLead} CPL | ${campaign.leads} leads | £${campaign.spend} spend`\n).join('\\n\\n')}\\n\\n⚠️ Immediate action required!\\n\\n_Full report sent via email_`;\n\nreturn [{\n  json: {\n    chatId: process.env.TELEGRAM_CHAT_ID,\n    text: alertMessage,\n    parseMode: 'Markdown'\n  }\n}];"
      },
      "name": "Format Critical Alert",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1780,
        100
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "telegramApi",
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{$json.chatId}}",
        "text": "={{$json.text}}",
        "parseMode": "={{$json.parseMode}}"
      },
      "name": "Send Critical Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2000,
        100
      ]
    }
  ],
  "connections": {
    "Daily Schedule (9 AM)": {
      "main": [
        [
          {
            "node": "Get All Ad Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Ad Accounts": {
      "main": [
        [
          {
            "node": "Process Account List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Account List": {
      "main": [
        [
          {
            "node": "Get Yesterday Insights",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Last 3 Days Insights",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Last 5 Days Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Yesterday Insights": {
      "main": [
        [
          {
            "node": "Process Campaign Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last 3 Days Insights": {
      "main": [
        [
          {
            "node": "Process Campaign Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last 5 Days Insights": {
      "main": [
        [
          {
            "node": "Process Campaign Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Campaign Data": {
      "main": [
        [
          {
            "node": "Generate AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Analysis": {
      "main": [
        [
          {
            "node": "Format Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Daily Report": {
      "main": [
        [
          {
            "node": "Send Email Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Telegram Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check for Critical Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Report": {
      "main": [
        [
          {
            "node": "Store Results & Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Summary": {
      "main": [
        [
          {
            "node": "Store Results & Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Send Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Critical Issues": {
      "main": [
        [
          {
            "node": "Format Critical Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Critical Alert": {
      "main": [
        [
          {
            "node": "Send Critical Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "Error Handler"
  },
  "staticData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "createdAt": "2025-07-15T10:00:00.000Z",
      "updatedAt": "2025-07-15T10:00:00.000Z",
      "id": "1",
      "name": "Meta Ads Automation"
    }
  ]
}